<html ng-app="Calc1">

<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CMaterial+Icons%22%3E">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="Js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>Challenge Maths</title>
</head>

<body>
<h1>Challenge Maths</h1>
    <div ng-controller="calculatorCtrl">
        <Form name="calcul" role="form" class="form-group row" >
            <div class="form-group  mx-sm-5" >
                <div class="form-inline mb-3" id="exercice1">
                    <input type="text" class="form-control" name="question1" data-ng-init="questions()" value="{{tab[0].Question}}" disabled/>
                    <input type="number" class="form-control" name="reponse1" id="reponses1"  ng-model='val1' placeholder="Exemple : 4" required/>
                    <button type="button" class="btn btn-warning mx-sm-2" id="valide1" ng-click="valide(val1,1)">Valider</button>
                </div>

                <div class="form-inline mb-3" id="exercice2">
                    <input type="text" class="form-control" name="question2" value="{{tab[1].Question}}" disabled/>
                    <input type="number" class="form-control" name="reponse2" id="reponses2" ng-model='val2' placeholder="Exemple : 4" />
                    <button type="button" class="btn btn-warning mx-sm-2" id="valide2" ng-click="valide(val2,2)">Valider</button>
                </div>

                <div class="form-inline mb-3" id="exercice3">
                    <input type="text" class="form-control" name="question3"  value="{{tab[2].Question}}" disabled/>
                    <input type="number" class="form-control" name="reponse3" id="reponses3" ng-model='val3' placeholder="Exemple : 4" />
                    <button type="button" class="btn btn-warning mx-sm-2" id="valide3" ng-click="valide(val3,3)">Valider</button>
                </div>

                <div class="form-inline mb-3" id="exercice4">
                    <input type="text" class="form-control" name="question4"  value="{{tab[3].Question}}"disabled />
                    <input type="number" class="form-control" name="reponse4" id="reponses4" ng-model='val4' placeholder="Exemple : 4" />
                    <button type="button" class="btn btn-warning mx-sm-2" id="valide4" ng-click="valide(val4,4)">Valider</button>
                </div>

                <div class="form-inline mb-3" id="exercice5">
                    <input type="text" class="form-control" name="question5"  value="{{tab[4].Question}}" disabled/>
                    <input type="number" class="form-control" name="reponse5"id="reponses5"  ng-model='val5' placeholder="Exemple : 4" />
                    <button type="button" class="btn btn-warning mx-sm-2" id="valide5" ng-click="valide(val5,5)">Valider</button>
                </div>

                <div class="form-inline mb-3" id="exercice6">
                    <input type="text" class="form-control" name="question6"  value="{{tab[5].Question}}" disabled/>
                    <input type="number" class="form-control" name="reponse6" id="reponses6" ng-model='val6' placeholder="Exemple : 4" />
                    <button type="button" class="btn btn-warning mx-sm-2" id="valide6" ng-click="valide(val6,6)">Valider</button>
                </div>

                <div class="form-inline mb-3" id="exercice7">
                    <input type="text" class="form-control" name="question7"  value="{{tab[6].Question}}" disabled/>
                    <input type="number" class="form-control" name="reponse7"id="reponses7" ng-model='val7' placeholder="Exemple : 4" />
                    <button type="button" class="btn btn-warning mx-sm-2"  id="valide7" ng-click="valide(val7,7)">Valider</button>
                </div>

                <div class="form-inline mb-3" id="exercice8">
                    <input type="text" class="form-control" name="question8"  value="{{tab[7].Question}}" disabled/>
                    <input type="number" class="form-control" name="reponse8" id="reponses8" ng-model='val8' placeholder="Exemple : 4" />
                    <button type="button" class="btn btn-warning mx-sm-2" id="valide8" ng-click="valide(val8,8)">Valider</button>
                </div>

                <div class="form-inline mb-3" id="exercice9">
                    <input type="text" class="form-control" name="question9"  value="{{tab[8].Question}}" disabled/>
                    <input type="number" class="form-control" name="reponse9" id="reponses9" ng-model='val9' placeholder="Exemple : 4" />
                    <button type="button" class="btn btn-warning mx-sm-2" id="valide9" ng-click="valide(val9,9)">Valider</button>
                </div>

                <div class="form-inline mb-3" id="exercice10">
                    <input type="text" class="form-control" name="question10"  value="{{tab[9].Question}}" disabled/>
                    <input type="number" class="form-control" name="reponse10" id="reponses10"  ng-model='val10' placeholder="Exemple : 4 " />
                    <button type="button" class="btn btn-warning mx-sm-2" id="valide10" ng-click="valide(val10,10)">Valider</button>
                </div>


                <div id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <p>FINI, tu as eu {{bonne}}/{{max}}</p>
                              </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="location.reload()">Recommencer</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </Form>

    </div>
</body>

</html>